@charset "UTF-8";
.global_cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #3e3e3e;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.buy_pop {
  position: fixed;
  width: 450px;
  min-height: 380px;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -240px;
  z-index: 200;
  background: #ffffff;
  font-size: 14px;
}
.buy_pop .close_btn {
  position: absolute;
  width: 50px;
  height: 30px;
  line-height: 30px;
  right: 0;
  top: 0;
}
.buy_pop header {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #e4dbcd;
  position: relative;
  padding-left: 24px;
}
.buy_pop header .close_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons_1.png?01") center no-repeat;
  left: 0;
  background-position: -5px -155px;
  left: auto;
  right: 2px;
  top: 2px;
  text-indent: -9999px;
  overflow: hidden;
}
.buy_pop .main .top {
  background: #f9f9f9;
}
.buy_pop .main .top a {
  float: left;
  width: 25%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
}
.buy_pop .main .top a.active {
  background: #ffffff;
}
.buy_pop .main .top.num_cake {
  background: transparent;
  padding-top: 6px;
}
.buy_pop .main .top.num_cake h3 {
  padding-left: 24px;
  line-height: 2.4;
}
.buy_pop .main .top.num_cake a {
  width: 76px;
  margin: 7px;
  height: 40px;
  line-height: 40px;
  background: #f9f9f9;
  position: relative;
}
.buy_pop .main .top.num_cake a:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #f9f9f9;
  content: '';
}
.buy_pop .main .top.num_cake a.active {
  color: #ff4001;
}
.buy_pop .main .top.num_cake a.active:before {
  border-color: #ff4001;
}
.buy_pop .main .middle {
  margin: 0 24px;
  padding: 16px 0;
  border-bottom: 1px solid #e4dbcd;
  font-size: 16px;
}
.buy_pop .main .middle h2 {
  line-height: 24px;
}
.buy_pop .main .middle .title {
  width: 280px;
}
.buy_pop .main .middle h3 {
  font-size: 14px;
  color: #949494;
  line-height: 20px;
}
.buy_pop .main .middle .price_wrap {
  color: #ff4001;
}
.buy_pop .main .middle .price_wrap .new_price {
  line-height: 24px;
}
.buy_pop .main .bottom {
  margin: 0 24px;
  padding: 16px 0;
  border-bottom: 1px solid #e4dbcd;
}
.buy_pop .main .bottom p {
  float: left;
  width: 95px;
  height: 32px;
  line-height: 32px;
  position: relative;
  font-size: 12px;
}
.buy_pop .main .bottom p.taste {
  width: 165px;
}
.buy_pop .main .bottom p.sweet {
  width: 165px;
}
.buy_pop .main .bottom p.has_icon {
  padding-left: 20px;
}
.buy_pop .main .bottom p i {
  top: 50%;
  margin-top: -10px;
}
.buy_pop .main .bottom .size i {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/icons_1.png?01") center no-repeat;
  left: 0;
  background-position: -65px -165px;
}
.buy_pop .main .bottom .tableware i {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/icons_1.png?01") center no-repeat;
  left: 0;
  background-position: -115px -165px;
}
.buy_pop .main .bottom .weight i {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/icons_1.png?01") center no-repeat;
  left: 0;
  background-position: -165px -165px;
}
.buy_pop .main .bottom .sweet i {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/icons_1.png?01") center no-repeat;
  left: 0;
  background-position: -206px -164px;
  left: 40px;
}
.buy_pop .main .bottom .sweet .level_1 {
  width: 15px;
}
.buy_pop .main .bottom .sweet .level_2 {
  width: 33px;
}
.buy_pop .main .bottom .sweet .level_3 {
  width: 51px;
}
.buy_pop .main .bottom .sweet .level_4 {
  width: 69px;
}
.buy_pop .main .bottom .sweet .level_5 {
  width: 87px;
}
.buy_pop .buy_wrap {
  padding: 22px;
}
.buy_pop .buy_wrap a {
  display: block;
  width: 192px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background: #ff4001;
  color: #ffffff;
  margin: auto;
}
.dialog_pop {
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -240px;
  z-index: 201;
  background: #ffffff;
  font-size: 14px;
}
.dialog_pop header {
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #e4dbcd;
  position: relative;
  padding-left: 24px;
}
.dialog_pop header .close_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons_1.png?01") center no-repeat;
  left: 0;
  background-position: -5px -155px;
  left: auto;
  right: 2px;
  top: 2px;
  text-indent: -9999px;
  overflow: hidden;
}
.dialog_pop .main p {
  padding: 50px;
  text-align: center;
}
.dialog_pop footer {
  padding-bottom: 30px;
  text-align: center;
}
.dialog_pop footer a {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
.dialog_pop footer a.confirm_btn {
  background: #ff4001;
}
.dialog_pop footer a.cancel_btn {
  background: #949494;
}
.dialog_pop footer a.has_right {
  margin-right: 20px;
}
.dialog_pop footer a:only-of-type {
  width: 280px;
}
.city_selector {
  position: fixed;
  width: 550px;
  top: 50%;
  left: 50%;
  margin-left: -275px;
  margin-top: -240px;
  z-index: 201;
  background: #ffffff;
  font-size: 14px;
}
.city_selector header {
  height: 72px;
  line-height: 72px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 30px;
  position: relative;
}
.city_selector header .close_btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../images/icons_1.png?01") center no-repeat;
  left: 0;
  background-position: -250px -100px;
  left: auto;
  right: -30px;
  top: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.city_selector header strong {
  position: relative;
  padding-left: 20px;
}
.city_selector header strong i {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../images/icons_1.png?01") center no-repeat;
  background-position: -15px -15px;
  top: 50%;
  margin-top: -10px;
  left: 0;
}
.city_selector .main {
  padding: 20px 30px;
}
.city_selector .main label {
  width: 70px;
  height: 48px;
  line-height: 48px;
}
.city_selector .main .city_list {
  margin-left: 70px;
}
.city_selector .main .city_list a {
  float: left;
  width: 70px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.city_selector .main .city_list a.active,
.city_selector .main .city_list a:hover {
  color: #ff4001;
}
.upload_wrap {
  margin: 15px 0 40px;
  color: #949494;
}
.upload_wrap.commented {
  margin: 12px 0;
}
.upload_wrap.commented .image_show {
  margin-top: 12px;
}
.upload_wrap .upload_item {
  width: 70px;
  float: left;
  position: relative;
  margin-right: 12px;
}
.upload_wrap .upload_item .div_img {
  position: relative;
  width: 68px;
  height: 68px;
  border: 1px solid #ebebeb;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  overflow: hidden;
}
.upload_wrap .upload_item .div_img img {
  display: none;
  max-width: none;
}
.upload_wrap .upload_item.active .div_img {
  border-color: #ff4001;
}
.upload_wrap .delete_wrap {
  position: absolute;
  width: 100%;
  height: 24px;
  line-height: 24px;
  left: 0;
  bottom: -24px;
  text-align: center;
  margin: 0;
}
.upload_wrap .upload_show {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 10;
  text-align: center;
}
.upload_wrap .upload_show:before {
  display: none;
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons_3.png?2") center no-repeat;
  left: 0;
  background-position: -120px 0;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.upload_wrap .upload_handler {
  border: 1px dashed #ebebeb;
  margin-right: 0;
  height: 70px;
  overflow: hidden;
}
.upload_wrap .upload_handler:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons_3.png?2") center no-repeat;
  left: 0;
  background-position: 0 0;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.upload_wrap .upload_handler [type=file] {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.upload_wrap .upload_handler .upload_count {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 1.8;
}
.upload_wrap .upload_handler .uploading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  left: 0;
  top: 0;
  background: url("../images/loading.gif") no-repeat center rgba(0, 0, 0, 0.1);
}
.image_show {
  display: none;
  float: left;
  margin-top: 24px;
  position: relative;
  border: 1px solid #ebebeb;
  width: 0;
  height: 0;
}
.image_show img {
  width: 100%;
  height: 100%;
}
.image_show a {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  z-index: 2;
}
.image_show a.show_close {
  width: 60%;
  left: 20%;
  cursor: default;
}
.image_show a:before {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons_3.png?2") center no-repeat;
  left: 0;
  background-position: 0 0;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  display: none;
}
.image_show a:hover:before {
  display: inherit;
}
.image_show a.show_prev {
  left: 0;
}
.image_show a.show_prev:before {
  content: '';
  background-position: -40px 0;
}
.image_show a.show_next {
  right: 0;
}
.image_show a.show_next:before {
  content: '';
  background-position: -80px 0;
}
.ui_pop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0);
}
.ui_pop.active {
  background: rgba(0, 0, 0, 0.15);
}
.ui_pop.active .inner {
  transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
}
.ui_pop .inner {
  position: absolute;
  left: 50%;
  top: 20%;
  background: #ffffff;
  transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.ui_pop .inner button {
  display: block;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
}
.ui_pop .ui_alert {
  width: 400px;
  padding: 76px 0 46px;
  margin-left: -200px;
}
.ui_pop .ui_alert i {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons_2.png?04") center no-repeat;
  left: 0;
  background-position: -120px -40px;
  top: 0;
  right: 0;
  left: auto;
  cursor: pointer;
}
.ui_pop .ui_alert .text {
  font-size: 14px;
  margin-bottom: 44px;
  text-align: center;
}
.ui_pop .ui_alert .text p {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}
.ui_pop .ui_alert .text p:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons_2.png?04") center no-repeat;
  left: 0;
  background-position: -80px -40px;
  top: 50%;
  margin-top: -20px;
}
.ui_pop .ui_alert button {
  width: 250px;
  background: #ff5406;
  margin: auto;
}
.ui_pop .ui_alert button:hover {
  background: #ff6831;
}
.ui_pop .ui_confirm {
  width: 500px;
  padding: 48px 0;
  margin-left: -250px;
}
.ui_pop .ui_confirm .text {
  font-size: 14px;
  margin-bottom: 44px;
  text-align: center;
}
.ui_pop .ui_confirm .text h3 {
  line-height: 2;
  color: #3e3e3e;
  margin-bottom: 24px;
}
.ui_pop .ui_confirm .text h4 {
  font-size: 12px;
  color: #949494;
}
.ui_pop .ui_confirm .btn_wrap {
  width: 466px;
  margin: auto;
}
.ui_pop .ui_confirm .btn_wrap button {
  width: 49%;
}
.ui_pop .ui_confirm .btn_wrap button:first-of-type {
  background: #ebebeb;
  color: #3e3e3e;
}
.ui_pop .ui_confirm .btn_wrap button:last-of-type {
  background: #ff5406;
}
.ui_pop .ui_confirm .btn_wrap button:hover:first-of-type {
  background: #cfcfcf;
}
.ui_pop .ui_confirm .btn_wrap button:hover:last-of-type {
  background: #ff6831;
}
.global_toast {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background: #7c7c7c;
  padding: 14px 60px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  font-size: 18px;
}
.global_toast.active {
  opacity: 1;
}
.global_shade {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.global_shade.has_cover {
  background: rgba(0, 0, 0, 0.1);
}
.global_loading {
  position: relative;
  background: transparent;
  z-index: 1002;
}
.global_loading .inner {
  position: fixed;
  padding: 10px 48px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #FCF7E8;
  border: 1px solid #ff4001;
  z-index: 1002;
}
.global_loading .inner p {
  position: relative;
}
.global_loading .inner p:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -24px;
  top: 50%;
  margin-top: -10px;
  background: url("../images/loading.gif") no-repeat center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.global_modal {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
.global_modal .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}
.global_modal * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.global_modal .inner {
  position: absolute;
  left: 50%;
  background: #ffffff;
  top: 20%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 400px;
  margin-left: -200px;
}
.global_modal .close_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  text-indent: -10000px;
  overflow: hidden;
  right: 5px;
  top: 5px;
}
.global_modal .close_btn:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons.png?4") center no-repeat;
  -webkit-background-size: 400px 400px;
  -moz-background-size: 400px 400px;
  background-size: 400px 400px;
  top: 50%;
  margin-top: -20px;
  background-position: -280px -40px;
  left: 0;
  opacity: 0.7;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.global_modal .close_btn:hover:before {
  opacity: 1;
}
.global_modal header h3 {
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
}
.global_modal .content {
  padding: 0 20px 20px;
  font-size: 13px;
}
.global_modal footer .btn_wrap {
  text-align: right;
  padding: 16px;
}
.global_modal footer .btn_wrap a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 32px;
  padding: 0 24px;
  line-height: 32px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ff4001;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  margin-left: 16px;
}
.global_modal footer .btn_wrap a:hover {
  opacity: 0.8;
}
.global_modal footer .btn_wrap a.cancel_btn {
  background: #ffffff;
  color: #3e3e3e;
}
.global_modal footer .btn_wrap a.cancel_btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #949494;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.global_modal .square_type {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 550px;
  margin-left: -275px;
  padding: 60px 24px;
}
.global_modal .square_type .close_btn {
  position: absolute;
  width: 40px;
  height: 40px;
  text-indent: -10000px;
  overflow: hidden;
  right: 5px;
  top: 5px;
}
.global_modal .square_type .close_btn:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("../images/icons.png?4") center no-repeat;
  -webkit-background-size: 400px 400px;
  -moz-background-size: 400px 400px;
  background-size: 400px 400px;
  top: 50%;
  margin-top: -20px;
  background-position: -280px -40px;
  left: 0;
  opacity: 0.7;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.global_modal .square_type .close_btn:hover:before {
  opacity: 1;
}
.global_modal .square_type .content {
  font-size: 14px;
  text-align: center;
  padding: 0;
}
.global_modal .square_type .content h2 {
  margin-bottom: 12px;
  line-height: 2;
}
.global_modal .square_type footer {
  width: 360px;
  height: 60px;
  margin: 30px auto;
}
.global_modal .square_type footer .btn_wrap {
  text-align: center;
  padding: 0;
}
.global_modal .square_type footer .btn_wrap a {
  width: 160px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
  float: left;
  padding: 0;
}
.global_modal .square_type footer .btn_wrap a:hover {
  opacity: 1;
}
.global_modal .square_type footer .btn_wrap a.cancel_btn {
  float: right;
  background: #ffffff;
  color: #ff4001;
}
.global_modal .square_type footer .btn_wrap a.cancel_btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #ff4001;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.ios_select {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.ios_select .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
  left: 0;
  top: 0;
  opacity: 0;
}
.ios_select .wrap {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(222, 222, 222, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(222, 222, 222, 0.6);
}
.ios_select .wrap:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #949494;
  z-index: -1;
}
.ios_select .content {
  font-size: 12px;
  width: 100%;
  position: relative;
}
.ios_select .content.double:before {
  position: absolute;
  width: 10px;
  height: 1px;
  background: #3e3e3e;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -1px;
  z-index: 10;
}
.ios_select .content .select_item {
  overflow: hidden;
  width: 100%;
  text-align: center;
  background: #fff;
  position: relative;
}
.ios_select .content .select_item:hover .scroll_bar {
  opacity: 1;
}
.ios_select .content .select_item .scroll_bar {
  position: absolute;
  width: 10px;
  height: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  background: #e5e5e5;
  opacity: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.ios_select .content .select_item .scroll_bar .scroll_inner {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: #949494;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.ios_select .content .select_line,
.ios_select .content .select_list {
  position: absolute;
  left: 0;
  right: 0;
  transform: translate3d(0px, 0px, 100px);
  background: #ffffff;
  z-index: 2;
}
.ios_select .content .select_line .list_item,
.ios_select .content .select_list .list_item {
  cursor: pointer;
}
.ios_select .content .select_line .list_item.active,
.ios_select .content .select_list .list_item.active,
.ios_select .content .select_line .list_item:hover:not(.disabled),
.ios_select .content .select_list .list_item:hover:not(.disabled) {
  color: #ff4001;
  background: #f6f6f6;
  font-weight: bold;
}
.ios_select .content .select_line .list_item.disabled,
.ios_select .content .select_list .list_item.disabled {
  opacity: 0.5;
}
.ios_select .content .select_line {
  z-index: 3;
}
.ios_select .content .select_line:before,
.ios_select .content .select_line:after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(left, white, #ff4001, white);
  background: linear-gradient(to right, white, #ff4001, white);
  left: 0;
}
.ios_select .content .select_line:before {
  top: 0;
}
.ios_select .content .select_line:after {
  bottom: 0;
}
.ios_select .content ul {
  position: absolute;
  width: 100%;
}
