<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.MilkMapper">
    <select id="queryTest" resultType="com.jk.pojo.Milk">
        select * from t_milk
    </select>
</mapper>