<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单详情-斯威LE CAKE</title>
    <script src="../jquery-1.9.1.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css">
    <script src="../bootstrap-table/bootstrap-table.js"></script>
    <script src="../bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>

<body>
<table  class="table"  id="myTable">
      <thead>订单查询</thead>
</table>
<table class="table" id="shouhuoTable">
     <!-- <thead>收货信息</thead>-->
</table>

<table class="table" id="goodsTable">
   <!-- <thead>商品信息</thead>-->
</table>

</body>
<script>
    $(function(){
        initCakeTable();
      /*  shouhuoTable();
        goodsTable();*/
    });
    function initCakeTable(){
        $("#myTable").bootstrapTable({
            url:'http://localhost:8767/queryorder',
            xhrFields: {
                withCredentials: true
            },
            columns:[
                {field:'orderid',title:'订单号'},
                {field:'orderdate',title:'下单时间'},
                {field:'orderprice',title:'订单总金额'},
                {field:'jifenprice',title:'积分价格'},
                {field:'commodity',title:'商品金额'},
                {field:'yunfei',title:'运费金额'},
                {field:'kehuojifen',title:'可获积分'},
                {field:'orderstatus',title:'订单状态',formatter:function(value,row,index){
                     return  row.orderstatus ==1?"已取消":"已完成";
                    }},
                {field:'delivergoods',title:'配送物流方式'},
                {field:'message',title:'客户留言'},
                {field:'paymentinfo',title:'支付方式',formatter:function(value,row,index){
                        return  row.paymentinfo ==1?"微信":"支付宝";
                    }},
                {field:'name',title:'收货人'},
                {field:'youbian',title:'邮编'},
                {field:'phone',title:'手机'},
                {field:'area',title:'收货地址'},
                {field:'shouhuodate',title:'收货时间'},
                {field:'cakeimg',title:'图片',formatter:function(value,row,index){
                        return  "<img src="+row.cakeimg+" width='90px' height='60px'>";
                    }},
                {field:'goodsname',title:'商品名称'},
                {field:'size',title:'规格'},
                {field:"goodsprice",title:"商品金额"},
                {field:'count',title:'数量'},
                {field:'qiefen',title:'是否切分'}

            ]
        });
    }

    function shouhuoTable(){
        $("#shouhuoTable").bootstrapTable({
            url:'http://localhost:8767/shouhuoinfo',
            xhrFields: {
                withCredentials: true
            },
            columns:[
                {field:'name',title:'收货人'},
                {field:'youbian',title:'邮编'},
                {field:'phone',title:'手机'},
                {field:'area',title:'收货地址'},
                {field:'shouhuodate',title:'收货时间'}
            ]
        });
    }


    function goodsTable(){
        $("#goodsTable").bootstrapTable({
            url:'http://localhost:8767/goodsinfo',
            xhrFields: {
                withCredentials: true
            },
            columns:[
                {field:'cakeimg',title:'图片',formatter:function(value,row,index){
                      return  "<img src="+row.cakeimg+" width='90px' height='60px'>";
                    }},
                {field:'goodsname',title:'商品名称'},
                {field:'size',title:'规格'},
                {field:"goodsprice",title:"商品金额"},
                {field:'count',title:'数量'},
                {field:'qiefen',title:'是否切分'}
            ]
        });
    }




</script>
</html>